.header-lesson {
    top: 0;
    height: 90px;
}

.container-lessons {
    margin-top: 2rem;
    text-align: center;
}

.icon-lesson {
    width: 75px;
}

.col-icon-lesson {
    margin-bottom: 1rem;
}

.authorize-lesson {
    margin: 150px auto 0;
}

.authorize-lesson img {
    width: 50%;
}

.unauthorize-lesson {
    padding: 0 25px 25px 25px;
    margin: 2rem 0;
}

.unauthorize-title {
    font-size: 2rem;
}

.unauthorize-item {
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.unauthorize-img {
    border: 4px solid white;
    margin-top: -3rem;
    width: 18%;
}

.img-lesson {
    width: 85px;
    transform: translateX(-50%);
    margin-top: -1rem;
}

.btn-lesson {
    margin-top: 2rem;
}

