/** IMPORTS **/
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/roboto');

/** GLOBAL DATA **/

:root{
  --color1:#069B3E;
  --color2:#408C32;
  --color3:#fFCC07;
  --color4:#969696;
  --color5:#4B4B4B;
  --color6:#FFFFFF; 
}

.titre1{
  font-family: BebasNeueRegular ;
  color: var(--color1) ;
  text-transform : uppercase;
}
p, 
.btn{
  font-family: RobotoBold;
}
.btn{
  color: var(--color6);
}
.btn-primary{
  background-color: var(--color1);
  font-size: 20px;
}
.btn-warning{
  background-color: var(--color3);
  font-size: 20px;
}

/** GENERAL **/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** NAVBAR **/

.nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #FFCC07;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 900px;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav li:hover {
  background-color: #e2a600;
}
/** TITLES & FONTS **/
h1{
  font-family: 'Bebas Neue', sans-serif;
  color: green;
  font-weight: bold;
  font-size: 40px;
}

h2{
  font-family: 'Bebas Neue', sans-serif;
  color: green;
  font-weight: bold;
  font-size: 30px;
}

p{
  font-family: 'Roboto', sans-serif;
  color: var(--color5);
}

span{
  font-family: 'Roboto', sans-serif;
  color: var(--color5);
}
p.infoBulle{
  color: var(--color6) !important;
}

/** TEXT ALIGN **/

.text-align-c{
  text-align: center;
}


/** IMAGES **/
.logoLemonTri{
  max-width: 200px;
  margin: 30px;
}

#citronAccueil{
  max-width: 40%;
  height: auto;
  position: absolute;
  right: 0px;
  transform: rotate(-5deg) ;
}
.img-fluid {
  max-width: 90%;
  height: auto;
}
.citronTri{
  margin-top: 20%;
}
.citronJoie{
  max-width: 60% !important;
  margin-left: 50%;
  margin-top: 20%;
  z-index: 1;
}
.citronBureau{
  max-width: 50%;
  margin-right: 100%;
  margin-top: 54%;
}
.citronAvocat{
  max-width: 60%;
  margin-top: 15%;
}
.citronQuizz{
  max-width: 100%;
  margin-top: -5%;
}
.citronCategorie{
  max-width: 30%;
  margin-right: 10%;
}

.boutonQuizz{
  margin-top: 15%;
}
.nb{
  position:absolute;
  top:375px; 
  width:500px; 
  height:400px; 
  left: 65px;
  z-index:2;
  font-size:200%
}
.nb1{
  position:absolute;
  top:59%; 
  width:500px; 
  height:400px; 
  left: 65px;
  z-index:2;
  font-size:200%
}
.nb2{
  position:absolute;
  top:76%; 
  width:500px; 
  height:400px; 
  left: 65px;
  z-index:2;
  font-size:200%
}
.nb3{
  position:absolute;
  top:94%; 
  width:500px; 
  height:400px; 
  left: 65px;
  z-index:2;
  font-size:200%
}

#logoAccueil{
  justify-self: center;
}

/** MARGINS **/

.margins{
  margin: 20px;
}

.margin-t-100{
  margin-top: 100px;
}

.m-b-0{
  margin-bottom: 0;
}

/** PAGE ACCUEIL **/
.titleAccueil{
  max-width: 60%;
}

#sec-Accueil{
  margin-top : 20%;
}

/** DISPLAY FLEX **/

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.space-bet{
  justify-content: space-between;
}

.center{
  justify-content: center;
  align-items: center;
}

/* LES BOUTONS */
button.btn{
  color: var(--color6);
}
button.btn-primary,
input.btn-primary{
  background-color: var(--color1);
  border-color: var(--color1);
  font-size: 20px;
}
button.btn-warning{
  background-color: var(--color3);
  font-size: 20px;
}
button.btn-primary:hover{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color6);
}
p.btn-primary{
  border-color: var(--color1);
}
p.btn-primary:hover{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color6);
}
input.btn-primary:hover{
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color6);
}
button.btn-warning:hover{
  background-color: var(--color3);
  border-color: var(--color3);
  color: var(--color6);
}



/* INPUT */
input.champRemplir{
  width: 240px;
  height: 30px;
  left: 60px;
  top: 306px;

  background: #D9D9D9;
  box-shadow: 0px 2px 1px #408C32;
  border-radius: 5px;
  color: var(--color5);
}

/* Retour  */
.backButton{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--color3);
}

/* info Bulle */
.infoBulle{
  background: var(--color1);
  border-radius: 30px;
  top: 9%;
  left: 6%;
  padding: 5px 15px;
  position: absolute;
  width: 80%;
  color: var(--color6);
}
.infoBulle::after{
  border: solid;
  border-color: var(--color1) transparent;
  border-width: 39px 17px 0 20px;
  transform: rotate(-20deg);
  bottom: -32px;
  content: "";
  left: 60%;
  position: absolute;
  z-index: 99;
}

.infoBulle1{
  background: var(--color1);
  border-radius: 30px;
  top: 10%;
  left: 2%;
  padding: 5px 15px;
  position: absolute;
  width: 54%;  
  color: var(--color6);
}
.infoBulle1::after{
  border: solid;
  border-color: var(--color1) transparent;
  border-width: 39px 17px 0 20px;
  transform: rotate(-100deg);
  bottom: 50px;
  content: "";
  left: 95%;
  position: absolute;
} 
.infoBulle2{
  background: var(--color1);
  border-radius: 30px;
  bottom: 15%;
  right: 2%;
  padding: 5px 15px;
  position: absolute;
  width: 54%;  
  color: var(--color6);
}
.infoBulle2::after{
  border: solid;
  border-color: var(--color1) transparent;
  border-width: 39px 17px 0 20px;
  transform: rotate(50deg);
  bottom: 5px;
  content: "";
  right: 93%;
  position: absolute;
} 
.infoBulle3{
  background: var(--color1);
  border-radius: 30px;
  top: 7%;
  right: 2%;
  padding: 5px 15px;
  position: absolute;
  width: 50%;  
  color: var(--color6);
}
.infoBulle3::after{
  border: solid;
  border-color: var(--color1) transparent;
  border-width: 39px 17px 0 20px;
  transform: rotate(58deg);
  bottom: -10px;
  content: "";
  right: 92%;
  position: absolute;
} 
/* Retour */
.retour{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color : var(--color5);
  padding-left: 10px;
}

.hoverCursor:hover{
  cursor:pointer;
}
