:root{
  --color1:#069B3E;
  --color2:#408C32;
  --color3:#fFCC07;
  --color4:#969696;
  --color5:#4B4B4B;
  --color6:#FFFFFF; 
}


.titre1{
  font-family: BebasNeueRegular ;
  color: var(--color1) ;
  text-transform : uppercase;
}
p, 
.btn{
  font-family: RobotoBold;
}
.btn{
  color: var(--color6);
}
.btn-primary{
  background-color: var(--color1);
  font-size: 20px;
}
.btn-warning{
  background-color: var(--color3);
  font-size: 20px;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


